.commit-history__github-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.13rem;
    color: #1A1B22;
    text-decoration: none;

    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 112px;
    margin-top: 5px;
}

.commit-history__github-link::after {
    content: "";
    background-image: url('../../../favicon/black-arrow.svg');
    background-repeat: no-repeat;
    
    display: block;
    width: 8px;
    height: 14px;
    margin-left: 9px;
}

.commit-history__github-link:hover {
    opacity: 0.9;
}