.header__logo {
    margin-top: 31px;
    margin-left: 5.5vw;

    font-family: 'Roboto Slab';
    font-style:  normal;
    font-weight: 700;
    font-size: 1.25rem;
    color: #ffffff;
    text-decoration: none;
}