h1, h2, h3, h4, h5, h6, ul, p, form{
    margin: 0;
}

h1 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 4rem;
    color: #ffffff;
}

h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.88rem;
    color: #1A1B22;
}

/* p {
    margin-top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 1.13rem;
    line-height: 1.5rem;
    color: #1A1B22;
} */

ul {
    padding: 0;
    list-style-type: none;
}

.page {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}