@import url('./_bold/analytics__statistic_bold.css');

.analytics__statistic {
    margin-left: 104px;
    margin-top: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.13rem;
    line-height: 1.5rem;
    color: #1A1B22;
}