.slider__previous-slide {
    position: absolute;
    z-index: 100;
    top: 30%;
    left: 0%;
    height: 60%;
    width: 88px;

    background-image: linear-gradient(to right, #F5F6F7, transparent);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    cursor: pointer;
}

.slider__previous-slide::after {
    content: "";

    width: 40px;
    height: 40px;
    background-image: url('../../../favicon/slider-control.svg');
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(14, 26, 57, 0.2);

    position: absolute;
    top: 139px;
    right: 24px;
}