@import url('./__area/search__area.css');
@import url('./__paragraph/search__paragraph.css');
@import url('./__input/search__input.css');
@import url('./__button/search__button.css');

.search {
    background-color: #393D37;
    background-image: url('../../images/main_background.png');
    background-repeat: no-repeat;
    background-position: top center;
    color: #ffffff;
}