.result__content-paper {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 80px;

    background-color: #F5F6F7;

    display: flex;
    flex-flow: column;
    align-items: center;
}