@import url(./__button/auth__button.css);
@import url(./__error-message/auth__error-message.css);
@import url(./__input/auth__input.css);
@import url(./__link/auth__link.css);
@import url(./__wrapper/auth__wrapper.css);
@import url(./__title/auth__title.css);
@import url(./__close/auth__close.css);
@import url(./__subtitle/auth__subtitle.css);
@import url(./__other-action/auth__other-action.css);

.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: Roboto, sans-serif;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px 36px 28px 36px;
  width: 430px;
  box-sizing: border-box;
  border-radius: 16px;
  z-index: 200;
}

@media screen and (max-width: 767px) {
  .auth {
    transform: translate(0, 0);
    position: absolute;
    top: 56px;
    left: 0;
    padding: 16px;
    width: 100%;
    height: calc(100vh - 56px);
    box-sizing: border-box;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 200;
  }

  .auth + .overlay {
    opacity: 0;
    transition: 0.3s;
  }
}
