.analytics__question {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.88rem;
    color: #1A1B22;

    margin-left: 104px;
    margin-top: 84px;
    margin-bottom: 22px;
}